.navbarContainer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.leftSide {
  display: flex;
}

.leftSide .imgLogo {
  width: 200px;
  height: 60px;
}

.rigthSide {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px 20px;
}

.buttonLogin {
  font-size: 18px;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.buttonLogin:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.buttonRegister {
  font-size: 18px;
  background-color: #f5a507;
  padding: 10px 30px;
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.buttonRegister:hover {
  transform: scale(1.1);
}

.label {
  display: flex;
}

.checkbox {
  display: none;
}

.menuButton {
  display: none;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}

.menuButton:hover {
  transform: scale(1.1);
}

.rigthSideResponsive { 
  display: none;
}

@media (max-width: 700px) {
  .menuButton {
    display: block;
  }

  .navbarContainer {
    height: 70px;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .rigthSide {
    display: none;
  }

  .rigthSideResponsive {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 70px;
    height: calc(100vh - 70px);
    transform: translateX(150%);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: transform 150ms ease-in-out;
  }

  /* Menú visible */
  .rigthSideResponsive.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(100%); 
  }

  .leftSide .imgLogo {
    width: 120px;
    height: 40px;
  }
}
