.container {
  width: 100%;
  height: 200px;
  display: flex;
  overflow: hidden; 
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.3);
  transition: transform 300ms ease-in-out;
}

.container:hover {
  transform: translateX(1.2rem);
  /* transform: scale(1.05); */
}

.imgContainer {
  width: 30%;
  height: 100%;
  overflow: hidden; 
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.dataContainer {
  font-size: 15px;
  color: #050145;
  width: 70%;
  padding: 5px 20px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dataContainer h3 {
  text-align: left;
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

.dataContainer p {
  text-align: left;
}

.locationText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.locationText p {
  font-size: 13px;
  opacity: .7;
}

.locationIcon {
  width: 20px;
}


.anchorLocation:hover {
  color: inherit;
  font-weight: bold;
  /* transform: scale(1.1); */
  text-decoration: underline;
}

.footerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerCard .buttonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footerCard button {
   font-size: 16px;
  background-color: #f5a507;
  padding: 5px 20px;
  border-radius: 20px;
  color: #000;
  /* font-weight: bold; */
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.footerCard button:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.buttonContainer .buttonDelete {
  color: #f0f0f0;
  background-color: #d32f2f;
}

@media (max-width: 700px) {

  .container {
    display: flex;
    flex-direction: column;
    height: auto; /* Asegura que la tarjeta se ajuste al contenido */
  }

  .imgContainer {
    width: 100%;
    height: 200px; /* Fija una altura adecuada para la imagen en la vista móvil */
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

    .dataContainer {
    width: 100%;
    padding: 1rem;
    gap: 10px;
  }

  

}