.container {
  height: calc(100vh - 100px);
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 100px 0px;
    height: auto;
    width: 640px;
    /* padding: 70px 0px; */
  }
}

@media (max-width: 640px) {
  .container {
    padding: 100px 0px;
    height: auto;
    width: 475px;
    /* padding: 100px 0px; */
  }
}

@media (max-width: 475px) {
  .container {
    padding: 100px 0px;
    height: auto;
    width: 390px;
    /* padding: 100px 0px; */
  }
}

@media (max-width: 390px) {
  .container {
    padding: 100px 0px;
    height: auto;
    width: 340px;
    /* padding: 100px 0px; */
  }
}

