.container {
  margin:  0 auto ;
  max-width: 980px;
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    height: auto;
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    height: auto;
    width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    height: auto;
    width: 390px;
  }
}

@media (max-width: 390px) {
  .container {
    height: auto;
    width: 340px;
  }
}

